<h1>Listing comments</h1>

<table>
  <tr>
    <th>User</th>
    <th>User name</th>
    <th>Resource</th>
    <th>Resource type</th>
    <th>Title</th>
    <th>Content</th>
    <th>Visible</th>
    <th>Isdeleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.user_id %></td>
    <td><%= comment.user_name %></td>
    <td><%= comment.resource_id %></td>
    <td><%= comment.resource_type %></td>
    <td><%= comment.title %></td>
    <td><%= comment.content %></td>
    <td><%= comment.visible %></td>
    <td><%= comment.isdeleted %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
